.cssConsola
{
    background-color:black;
    color: #D2D2D2;
    border-width: 0;
    border-spacing: 0;
    padding: 0;
    border-collapse: collapse;
    margin:0;
    line-height: 80%;
}

.cssConsola td
{
    font-family: courier,fixed,swiss,monospace,sans-serif;
    font-size: 14px;
    padding: 0;
}